# general ignores
node_modules/*
dist/*
.env
.nvmrc

# server ignores
server/.env
server/node_modules/*
server/prisma/generated/*
server/src/generated/*
server/generated/*
server/dist/*

# client ignores
client/.env
client/node_modules/*
client/dist/*
